- var topmenu = ["მაღაზიები","დახმარება","რეკლამა","კონტაქტი"]
- var footermenu = ["რეკლამა","კონტაქტი","დახმარება","სამომ. შეთანხმება"]
- var maincat = ["ავტომობილები","უძრავი ქონება","ინტერნეტ მაღაზია","ავტომ. ნაწილები","დასაქმების ფორუმი"]
- var autocarousel = [["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"]]
- var autopartscarousel = [["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"]]
- var udzravicarousel = [["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"]]
- var onlineshopcarousell = [["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"]]
- var employforumcarousel = [["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"]]
- var arvici = ["img1.png","img1.png","img1.png","img1.png"]
- var maincaticons = ["cat1.png","cat2.png","cat3.png","cat4.png","cat5.png"]
- var mainsliderlist = ["slider.png","slider.png","slider.png"]
- var banners = ["banner7.png","banner6.png","banner5.png"]
- var vipstatements = [["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"]]
- var statements = [["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"]]
- var searchtabs = ["ავტონაწილები","დისკები & საბურავები","დაშლილები","ავტოსერვისი"]
- var sidebarmenu = ["ავტოსერვისი","დაშლილი ავტომობილები","დისკები და საბურავები","ავტონაწილები","გაზის სისტემა","წვა, ჰაერი, აალება","სამუხრუჭე სისტემა","ძარის ნაწილები","აქსესუარები","გადაცემათა კოლოფი","ფარები და ნათურები","ინტერიერი","საქარე მინები","ძრავი, მისი ნაწილები","სავალი ნაწილები","გაგრილების სისტემა","ელექტროობა","ხელსაწყოები, დანადგარები","აუდიო - ვიდეო ტექნიკა"];
- var submenuitems = ["ავეჯი","არქეოლოგიური","გამოჩენილი ადამიანების ნივთები","იარაღები","მარკები","მედლები, სამკერდე ნიშნები","მოდელები", "მონეტები, ბანკომატები","ავეჯი","არქეოლოგიური","გამოჩენილი ადამიანების ნივთები","იარაღები","მარკები","მედლები, სამკერდე ნიშნები","მოდელები", "მონეტები, ბანკომატები"]
- var innerslider = ["innerslider.png","innerslider.png","innerslider.png","innerslider.png"]
- var innerslider2 = ["innerslider2.png","innerslider2.png","innerslider2.png","innerslider2.png"]
- var siteTitle = "yvelaferi.ge"
- var css = "css/"
- var img = "images/"
- var js = "js/"


doctype html
html
	head
		title= siteTitle
		meta(charset='utf-8')
		link(rel='stylesheet', href=css + 'normalize.css')
		link(rel='stylesheet', href=css + 'owl.carousel.css')
		link(rel='stylesheet', href=css + 'owl.theme.css')
		link(rel='stylesheet', href=css + 'style.css')
		link(rel='stylesheet', href=css + 'fonts.css')
		link(rel='stylesheet', href=css + 'ka.css')
		// [if lt IE 9]
		script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
		// [endif]
	body
		//header section
		header
			div.grad
			div.h
				div.wrapper
					a.logo
					nav
						ul.topmenu
							each val in topmenu
								if topmenu[0] == val
									li.active
										a(href="#")= val
								else
									li
										a(href="#")= val
						span.auth
							img(src=img + "usermale.png")
							| ავტორიზაცია
			div.search
				div.wrapper
					span.placeholder შეიყვანეთ საძიებო სიტყვა
						span (მაგ. მერსედესი, ნაიკი, სონი ა.შ)
					input(type="button", class="searchbtn")
		//main categories
		section.maincategories
			div.wrapper
				ul.maincat
					- for(var i = 0; i < maincat.length; i++)
						li
							a(href="#")
								img(src=img + maincaticons[i])
								=maincat[i]
		//main section
		main
			div.wrapper
				section.addauto
					section.bradcrump
						a(href="#") ავტომობილები 
						span &gt;
						a(href="#") იყიდება 
						span &gt; 
						| ID:445879
					section.cont
						div.gallery
							div.main
								span.vip VIP
								img(src=img + innerslider2[0])
							div.g
								each val in innerslider2
									div
										img(src=img + val)
						div.details
							div.h
								span.title MERCEDES-BENZ SL 280
								span.r
									span.price ფასი: 1200 $
									span.date 01.07.2016
									span.view 22956
							div.cont
								div.left
									span.title ავტომობილის პარამეტრები
									table
										tr
											td მწარმოებელი
											td MERCEDES-BENZ
										tr
											td მოდელი
											td SL 280
										tr
											td გამოშვების წელი
											td 1985 / 01
										tr
											td კონდინციონერი
											td სედანი
										tr
											td სედანი
											td კლიმატკონტროლი
										tr
											td ბენზინი
											td საწვავის ტიპი
										tr
											td დისკები
											td ბენზინი
										tr
											td გარბენი
											td ტყავის სალონი
										tr
											td ავტომატიკა
											td ძრავის მოცულობა
										tr
											td აირბეგი
											td 2800
										tr
											td ბენზინი
											td საწვავის ტიპი
										tr
											td დისკები
											td ბენზინი
										tr
											td გარბენი
											td ტყავის სალონი
										tr
											td ავტომატიკა
											td ძრავის მოცულობა
										tr
											td აირბეგი
											td 2800
									ul.d
										li.ok ABS 
										li.ok მოდელი
										li.ok SL 280
										li.ok ელ. შუშები
										li.ok გამოშვების წელი
										li.ok 1985 / 01
										li.ok კონდინციონერი
										li.ok კატეგორია
										li.ok სედანი
										li.ok კლიმატკონტროლი
										li.no საწვავის ტიპი
										li.no ბენზინი
									div
										span.id ID:7170036
										a(href="#" class="addtofav") რჩეულებში დამატება
										a(href="#" class="report") განცხადების გასაჩივრება
										a(href="#" class="print") ამობეჭდვა
								div.right
									span.title ადგილმდებარეობა
									ul
										li თბილისი
									span.title საკონტაქტო ინფორმაცია
									ul
										li Alexander
										li 
											a(href="#") ყველა განცხადება 3
										li (+995) 577598681
										li (skype) არ არის მითითებული
										li წერილის მიწერა
								div.comment
									span.title მფლობელის კომენტარი
									p იყიდება 2 ოთახიანი ბინა დიდ დიღომში 3 მიკრო რაიონში მაღაზია 2 ნაბიჯთან, ცენტრალურ გზაზე სადაც ტრანსპორტი დადის ყველა მიმართულებით, ახალ აშენებულ შესახლებულ კორპუსში, ახალი რემონტით უცხოვრებელი, მისაღებში ბარისოლის ჭერით, დამონტაჟებულია ცენტრალური გათბობის გაყვანილობა თავისი რადიატორებით, მეტალოპლასმასის კარფანჯრებით , გრძელი აივნით გადიხართ როგორც მისაღებიდან ასევე საძინებლიდან, ასევე სააბაზანოში დამონტაჟებულია უნიტაზი ხელსაბანი, საშრობი, დუში სარკე, არის ჭაღებიც და ფარდებიც, სულ ახალი ყველაფერი და ხარისხიანი,, საცხოვრებელი ფართია 52კვ/მ ფასი 36 000$ ტელ 558 28 65 08, 557 59 86 81 ვარ მეპატრონე სააგენტოები ნუ გამომეხმაურებით
					aside
						each val in banners
							a(href="#")
								img(src=img + val)
		//footer section
		footer
			div.f
				div.wrapper
					a.logo
					ul.footermenu
						each val in footermenu
							li
								a(href="#")=val
			div.copy
				div.wrapper
					span.c YVELAFERI.GE &copy; ყველა უფლება დაცულია
					span.counters
						img(src=img + "counter1.png")
						img(src=img + "counter2.png")
						img(src=img + "counter3.png")
		script(src=js + "jquery-3.1.0.min.js")
		script(src=js + "owl.carousel.min.js")
		script(src=js + "main.js")