- var topmenu = ["მაღაზიები","დახმარება","რეკლამა","კონტაქტი"]
- var footermenu = ["რეკლამა","კონტაქტი","დახმარება","სამომ. შეთანხმება"]
- var maincat = ["ავტომობილები","უძრავი ქონება","ინტერნეტ მაღაზია","ავტომ. ნაწილები","დასაქმების ფორუმი"]
- var autocarousel = [["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"]]
- var autopartscarousel = [["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"]]
- var udzravicarousel = [["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"]]
- var onlineshopcarousell = [["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"]]
- var employforumcarousel = [["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"]]
- var arvici = ["img1.png","img1.png","img1.png","img1.png"]
- var maincaticons = ["cat1.png","cat2.png","cat3.png","cat4.png","cat5.png"]
- var mainsliderlist = ["slider.png","slider.png","slider.png"]
- var banners = ["banner7.png","banner6.png","banner5.png","banner4.png"]
- var vipstatements = [["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"]]
- var statements = [["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"],["vipcar.png","hyundai sanata fe","25,000$","2014"]]
- var searchtabs = ["ავტონაწილები","დისკები & საბურავები","დაშლილები","ავტოსერვისი"]
- var sidebarmenu = ["ავტოსერვისი","დაშლილი ავტომობილები","დისკები და საბურავები","ავტონაწილები","გაზის სისტემა","წვა, ჰაერი, აალება","სამუხრუჭე სისტემა","ძარის ნაწილები","აქსესუარები","გადაცემათა კოლოფი","ფარები და ნათურები","ინტერიერი","საქარე მინები","ძრავი, მისი ნაწილები","სავალი ნაწილები","გაგრილების სისტემა","ელექტროობა","ხელსაწყოები, დანადგარები","აუდიო - ვიდეო ტექნიკა"];
- var submenuitems = ["ავეჯი","არქეოლოგიური","გამოჩენილი ადამიანების ნივთები","იარაღები","მარკები","მედლები, სამკერდე ნიშნები","მოდელები", "მონეტები, ბანკომატები","ავეჯი","არქეოლოგიური","გამოჩენილი ადამიანების ნივთები","იარაღები","მარკები","მედლები, სამკერდე ნიშნები","მოდელები", "მონეტები, ბანკომატები"]
- var siteTitle = "yvelaferi.ge"
- var css = "css/"
- var img = "images/"
- var js = "js/"


doctype html
html
	head
		title= siteTitle
		meta(charset='utf-8')
		link(rel='stylesheet', href=css + 'normalize.css')
		link(rel='stylesheet', href=css + 'owl.carousel.css')
		link(rel='stylesheet', href=css + 'owl.theme.css')
		link(rel='stylesheet', href=css + 'style.css')
		link(rel='stylesheet', href=css + 'fonts.css')
		link(rel='stylesheet', href=css + 'ka.css')
		// [if lt IE 9]
		script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
		// [endif]
	body
		//header section
		header
			div.grad
			div.h
				div.wrapper
					a.logo
					nav
						ul.topmenu
							each val in topmenu
								if topmenu[0] == val
									li.active
										a(href="#")= val
								else
									li
										a(href="#")= val
						span.auth
							img(src=img + "usermale.png")
							| ავტორიზაცია
			div.search
				div.wrapper
					span.placeholder შეიყვანეთ საძიებო სიტყვა
						span (მაგ. მერსედესი, ნაიკი, სონი ა.შ)
					input(type="button", class="searchbtn")
		//main categories
		section.maincategories
			div.wrapper
				ul.maincat
					- for(var i = 0; i < maincat.length; i++)
						li
							a(href="#")
								img(src=img + maincaticons[i])
								=maincat[i]
		//main section
		main
			div.wrapper
				//main slider
				section.mainslider
					div(id="mainslider", class="owl-carousel")
						each val in mainsliderlist
							div
								img(src=img + val)
				section.cont
					section.parts
						//search form
						section.search
							div.h
								each val in searchtabs
									if searchtabs[0] == val
										button.active= val
									else
										button= val
							div.tabs
								- for(i=0; i<searchtabs.length; i++)
									if i == 0
										div(class="t active")
											form
												table
													tr
														td
															select
																option მწარმოებელი
														td
															select
																option წელი - დან
														td
															select
																option - მდე
														td
															select
																option ტრანსმისია
														td
															select
																option განბაჟება
													tr
														td
															select
																option მოდელი
														td
															select
																option ფასი - დან
														td
															select
																option - მდე
														td
															select
																option საწვავის ტიპი
														td
															select
																option საჭე
													tr
														td
															select
																option ავტომობილები
														td
															select
																option ძრავი - დან
														td
															select
																option - მდე
														td
															select
																option პერიოდი
														td
															select
																option მდებარეობა
													tr
														td(colspan="5")
															input(type="text" placeholder="ჩაწერეთ VIN კოდი, ID, ტელეფონი ან ნებისმიერი საძიებო ფრაზა...")
															input(type="submit" value="")
									else
										div(class="t")
											form
												table
													tr
														td
															select
																option მწარმოებელი
														td
															select
																option წელი - დან
														td
															select
																option - მდე
														td
															select
																option ტრანსმისია
														td
															select
																option განბაჟება
													tr
														td
															select
																option მოდელი
														td
															select
																option ფასი - დან
														td
															select
																option - მდე
														td
															select
																option საწვავის ტიპი
														td
															select
																option საჭე
													tr
														td
															select
																option ავტომობილები
														td
															select
																option ძრავი - დან
														td
															select
																option - მდე
														td
															select
																option პერიოდი
														td
															select
																option მდებარეობა
													tr
														td(colspan="5")
															input(type="text", placeholder="ჩაწერეთ VIN კოდი, ID, ტელეფონი ან ნებისმიერი საძიებო ფრაზა...")
															input(type="submit", value="")
						aside.right
							img(src=img + "banner8.png")
						aside.left
							ul.sidebarmenu
								each val in sidebarmenu
									li
										a(href="#")= val
										ul.submenu
											each v in submenuitems
												li
													a(href="#")= v
						section.statements
							section.vipstatements
								div.h
									span.vip VIP 
									span.title განცხადებები
								div.statements
									each val in vipstatements
										div.statement
											div.pic
												img(src=img + val[0])
											a(href="#")= val[1]
											span.price= val[2]
											span.year= val[3]
							section.lastadded
								div.h
									span.title ბოლოს დამატებულები
								div.statements
									each val in statements
										div.statement
											div.pic
												img(src=img + val[0])
											h3= val[1]
											div.p
												span.price= val[2]
												span.year= val[3]
		//footer section
		footer
			div.f
				div.wrapper
					a.logo
					ul.footermenu
						each val in footermenu
							li
								a(href="#")=val
			div.copy
				div.wrapper
					span.c YVELAFERI.GE &copy; ყველა უფლება დაცულია
					span.counters
						img(src=img + "counter1.png")
						img(src=img + "counter2.png")
						img(src=img + "counter3.png")
		script(src=js + "jquery-3.1.0.min.js")
		script(src=js + "owl.carousel.min.js")
		script(src=js + "main.js")