- var topmenu = ["მაღაზიები","დახმარება","რეკლამა","კონტაქტი"]
- var footermenu = ["რეკლამა","კონტაქტი","დახმარება","სამომ. შეთანხმება"]
- var maincat = ["ავტომობილები","უძრავი ქონება","ინტერნეტ მაღაზია","ავტომ. ნაწილები","დასაქმების ფორუმი"]
- var autocarousel = [["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"],["image6.png","Mercedes-Benz ML 350","$27 000"]]
- var autopartscarousel = [["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"],["image5.png","Mercedes-Benz ML 350","$27 000"]]
- var udzravicarousel = [["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"],["image4.png","Mercedes-Benz ML 350","$27 000"]]
- var onlineshopcarousell = [["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"],["image3.png","Mercedes-Benz ML 350","$27 000"]]
- var employforumcarousel = [["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"],["image2.png","Mercedes-Benz ML 350","$27 000"]]
- var arvici = ["img1.png","img1.png","img1.png","img1.png"]
- var maincaticons = ["cat1.png","cat2.png","cat3.png","cat4.png","cat5.png"]
- var mainsliderlist = ["slider.png","slider.png","slider.png"]
- var banners = ["banner7.png","banner6.png","banner5.png","banner4.png","banner3.png"]
- var siteTitle = "yvelaferi.ge"
- var css = "css/"
- var img = "images/"
- var js = "js/"


doctype html
html
	head
		title= siteTitle
		meta(charset='utf-8')
		link(rel='stylesheet', href=css + 'normalize.css')
		link(rel='stylesheet', href=css + 'owl.carousel.css')
		link(rel='stylesheet', href=css + 'owl.theme.css')
		link(rel='stylesheet', href=css + 'style.css')
		link(rel='stylesheet', href=css + 'fonts.css')
		link(rel='stylesheet', href=css + 'ka.css')
		// [if lt IE 9]
		script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
		// [endif]
	body
		//header section
		header
			div.grad
			div.h
				div.wrapper
					a.logo
					nav
						ul.topmenu
							each val in topmenu
								if topmenu[0] == val
									li.active
										a(href="#")= val
								else
									li
										a(href="#")= val
						span.auth
							img(src=img + "usermale.png")
							| ავტორიზაცია
			div.search
				div.wrapper
					span.placeholder შეიყვანეთ საძიებო სიტყვა
						span (მაგ. მერსედესი, ნაიკი, სონი ა.შ)
					input(type="button", class="searchbtn")
		//main categories
		section.maincategories
			div.wrapper
				ul.maincat
					- for(var i = 0; i < maincat.length; i++)
						li
							a(href="#")
								img(src=img + maincaticons[i])
								=maincat[i]
		//main
		main
			div.wrapper
				div.profile
					span.greet გამარჯობა Alexander!
					div.cont
						div.menu
							button.addstatement
								img(src=img + "add.png")
								| განცხადების დამატება
							span.id მომხმარებლის ID: 77897
							ul
								li
									a(href="#") ჩემი განცხადებები
									span.amount 47
								li
									a(href="#") შენახული განცხადებები
									span.amount 47
								li
									a(href="#") ჩემი წერილები
									span.amount 47
								li
									a(href="#") ბალანსის შევსება
									span.amount 25.00 GEL
								li
									a(href="#") მონაცემების რედაქტირება
							a(href="#", class="logout") გასვლა
						div.p
							form
								table
									tr
										td
											label მომხმარებელი
											input
										td
											label მომხმარებელი
											input
									tr
										td
											label მომხმარებელი
											input
										td
											label მომხმარებელი
											input
									tr
										td
											label მომხმარებელი
											input
										td
											label მომხმარებელი
											div
												input#day
												input#month
												input#year
									tr
										td
											label მომხმარებელი
											div
												input(type="checkbox" id="male")
												label(for="male") მამრობითი
												input(type="checkbox" id="female")
												label(for="female") მდედრობითი
								input(type="submit" value="შენახვა")
		//footer section
		footer
			div.f
				div.wrapper
					a.logo
					ul.footermenu
						each val in footermenu
							li
								a(href="#")=val
			div.copy
				div.wrapper
					span.c YVELAFERI.GE &copy; ყველა უფლება დაცულია
					span.counters
						img(src=img + "counter1.png")
						img(src=img + "counter2.png")
						img(src=img + "counter3.png")
		script(src=js + "jquery-3.1.0.min.js")
		script(src=js + "owl.carousel.min.js")
		script(src=js + "main.js")
